### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies 
import pandas as pd

# load File
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and create Data Frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#display/set to variable
players = len(purchase_data['SN'].unique())

#set in DF
players_df = pd.DataFrame({"Total # of Players": [len(purchase_data.SN.unique())]})
players_df

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Sum up unique elements
unique_items = len(purchase_data['Item ID'].unique())

#look for average price
avg_price= purchase_data['Price'].mean()

#Sum up number of purchases
total_purchases= len(purchase_data['Purchase ID'])

#Determine the total revenue from all sales
total_revenue= sum(purchase_data['Price'])

#print dataframe with outcome
summary_df = pd.DataFrame({
    'Unique items': unique_items,
    'Average Price': '${:.2f}'.format(avg_price),
    'Total Purchases': total_purchases,
    'Total Revenue': '${:.2f}'.format(total_revenue)
},index=[0])
summary_df

   Unique items Average Price  Total Purchases Total Revenue
0           179         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# Gender Distribution
gender_count = gender['Gender'].value_counts()

#Gender Percentage
gender_percent = (gender['Gender'].value_counts()/players)*100

#print outcome in dataframe
gender_df = pd.DataFrame({
    'Count': gender_count,
    'Percent of Total Players': gender_percent.map('{:.2f}%'.format)
})
gender_df

                       Count Percent of Total Players
Male                     484                   84.03%
Female                    81                   14.06%
Other / Non-Disclosed     11                    1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Gender Purchase classification
gender_purchase_data = purchase_data.groupby('Gender')
gender_purchase_count = gender_purchase_data['Gender'].count()
gender_purchase_count #test works

#average purchase pirce
gender_purchase_mean = gender_purchase_data['Price'].mean()
gender_purchase_mean #test works

#total revenue
gender_purchase_total = gender_purchase_data['Price'].sum()
gender_purchase_total #test works

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
#age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [24]:
#categorize the existing players using the age bins
purchase_data['age_group'] =  pd.cut(purchase_data['Age'], bins, labels=group_labels)

In [23]:
#groupby_age
players_by_age = purchase_data.groupby('age_group').SN.nunique()

#create dataframe with percentage and count of total players for each group
age_demo = pd.DataFrame({
    'Total Count': players_by_age,
    'Percentage of Players': (players_by_age / purchase_data.SN.nunique() * 100).map("{:.2f}".format)
})
age_demo

           Total Count Percentage of Players
age_group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
# Determine needed coloumns in data set
purchase_count_age = purchase_data[['age_group', 'Purchase ID']]
purchase_values_age = purchase_data[['age_group', 'Price']]

#Purchases by age bin
total_purchase_age = purchase_count_age.groupby('age_group').count() 

#Currency values of purchase by age
total_purchase_values_age = purchase_values_age.groupby('age_group').sum()

# Summary dataframe
purchasing_age_analysis = pd.DataFrame({
    'Purchase Count': total_purchase_age['Purchase ID'],
    'Average Purchase Price': (total_purchase_values_age['Price'] / total_purchase_age['Purchase ID']).map("${:.2f}".format),
    'Total Purchase Value': total_purchase_values_age['Price'].map("${:.2f}".format)
})
purchasing_age_analysis

           Purchase Count Average Purchase Price Total Purchase Value
age_group
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05             $1114.06
25-29                 101                  $2.90              $293.00
30-34                  73                  $2.93              $214.00
35-39                  41                  $3.60              $147.67
40+                    13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame